*.o
configure
Makefile
po/
ABOUT-NLS
COPYING
INSTALL
Makefile.in
autom4te.cache/
compile
config.guess
config.h.in
config.rpath
config.sub
depcomp
install-sh
m4/
missing
aclocal.m4
config.h
config.log
config.status
mentohust.spec
.deps/
stamp-h1
Makefile.am~
.dirstamp
mentohust
src/libpcap.a
src.zip